@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="Site.css">
</head>
<body>

<div class="erb-image-wrapper">

    <img src="/Content/images/about-newspaper.jpg" width="1000" height="200">
</div>

    
    
     <div id="object2" class="slideExpandUp">
            <font color="#F5F5F5">
                <div style="padding-top: 20px;">

                      <h1 style="text-align:center">
                        <b>SERVICES</b>
                    </h1>
                    <div class="erb-image-wrapper">

                        <img src="~/Content/images/about-dental-services1.jpg" width="1000" height="600" />
                    </div>
                    <br />
                     <br />



                        <article>
                        <p><b>Dental care is the maintenance of healthy teeth.</b></p>
                        <ul>
                            <li><b>Oral hygiene</b> the practice of keeping the mouth and teeth clean in order to prevent cavities (dental caries), gum disease, and other dental disorders</li>
                            <li><b> Dentistry</b>, the professional care of teeth, including professional oral hygiene and dental surgery</li>
                        </ul>
                    </article>
                    <br />
                    <br />

                    <img src="~/Content/images/about-dentalhygiene5.jpg" style="width: 500px;height:400px;   filter: alpha(opacity=40)"
                         onmouseover="this.style.opacity=1; this.filters.alpha.opacity=100"
                         onmouseout="this.style.opacity=0.4; this.filters.alpha.opacity=40"/>


                    <img src="~/Content/images/about-dentalhygiene3.jpg" style="width: 500px; height:400px; filter: alpha(opacity=40)"
                         onmouseover="this.style.opacity=1; this.filters.alpha.opacity=100"
                         onmouseout="this.style.opacity=0.4; this.filters.alpha.opacity=40" />



                    <br />
                    <br />
                    <br />
</font>


        </div>


         <div
        <div id="object4" class="fadeIn" style="padding: 20px;">
            
            <article>
            <h1> OUR VISION AND MISSION </h1>
            <p>
                <ul>
                    <li>
                       <b> VISION </b><br />
                        Periodontists will be recognized as an indispensable part of healthcare for optimal health and quality of life.
                    </li>

                    <li>
                       <b> MISSION</b>
                        <br />
                        Our mission is to provide members the expertise and resources to enhance the evaluation and diagnosis of oral conditions, assessment of risk for future disease, and delivery of specialty periodontal non-surgical, surgical and medical care for our patients.
                    </li>
                </ul>
            </p>


                </article>
            <div class="erb-image-wrapper">


                <img src="/Content/images/4.jpg"  width="1000" />

            </div>
        </div>




        <script>
            $(window).scroll(function () {
                $('#object4').each(function () {
                    var imagePos = $(this).offset().top;

                    var topOfWindow = $(window).scrollTop();
                    if (imagePos < topOfWindow + 100) {
                        $(this).addClass("fadeIn");
                    }
                });
            });
        </script>
        <script>
            $('#object4').click(function () {
                $(this).addClass("fadeIn");
            });
        </script>







        <script>
            $(window).scroll(function () {
                $('#object2').each(function () {
                    var imagePos = $(this).offset().top;

                    var topOfWindow = $(window).scrollTop();
                    if (imagePos < topOfWindow + 100) {
                        $(this).addClass("slideExpandUp");
                    }
                });
            });
        </script>
        <script>
            $('#object2').click(function () {
                $(this).addClass("slideExpandUp");
            });
        </script>


</body>
 </html>






