@{
    ViewBag.Title = "Index";
}

@section AddToHead {
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-easing-1.3.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/layerslider.kreaturamedia.jquery.js")"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#layerslider').layerSlider({
                skinsPath: '/Content/layerslider-skins/',
                skin: 'fullwidthdark',
                thumbnailNavigation: 'hover',
                hoverPrevNext: false,
                responsive: true,
                responsiveUnder: 1400,
                sublayerContainer: 1060,
                width: '100%',
                height: '500px'
            });
        });
    </script>

    <script>
        $(window).scroll(function () {
            $('#center-content').each(function () {
                var imagePos = $(this).offset().top;

                var topOfWindow = $(window).scrollTop();
                if (imagePos < topOfWindow + 500) {
                    $(this).addClass("slideUp");
                }
            });

            $('.left-division-bottom').each(function () {
                var imagePos = $(this).offset().top;

                var topOfWindow = $(window).scrollTop();
                if (imagePos < topOfWindow + 500) {
                    $(this).addClass("slideRight");
                }
            });

            $('.right-division-bottom').each(function () {
                var imagePos = $(this).offset().top;

                var topOfWindow = $(window).scrollTop();
                if (imagePos < topOfWindow + 500) {
                    $(this).addClass("slideLeft");
                }
            });

            $('.Before-vis').each(function () {
                var imagePos = $(this).offset().top;

                var topOfWindow = $(window).scrollTop();
                if (imagePos < topOfWindow + 400) {
                    $(this).addClass("Before-invis");
                }
            });



        });
    </script>

}

<section id="slider">

        <div id="layerslider-container-fw">
            <div id="layerslider">

                <div class="ls-layer" style="slidedirection:top; slidedelay:7000; durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:500; transition3d:all;">

                    <img alt="layer slider" src="~/Content/images/layerslider-gallery/S1-03.jpg" class="ls-bg">

                </div>

                <div class="ls-layer" style="slidedirection:right; slidedelay:6000; durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:0; timeshift:0; transition3d:all;">

                    <img alt="layer slider" src="~/Content/images/layerslider-gallery/S2-01.jpg" class="ls-bg">

                </div>

                <div class="ls-layer" style="slidedirection:bottom; slidedelay:7000; durationin:1500; durationout:1500; easingin:easeInOutQuint; easingout:easeInOutQuint; delayin:0; delayout:500; timeshift:0; transition2d:all; ">

                    <img alt="layer slider" src="~/Content/images/layerslider-gallery/S3-01.jpg" class="ls-bg">


                </div>





            </div>
        </div>
    </section>

@* End Of Slider *@

<div class="Static-Content">
    <div class="ls-nothumb">
        <img src="~/Content/images/Logo.jpg" alt="" width="200" height="80" style="border-style: none; border-color: inherit; border-width: 0" />
    </div>
    <div class="left-division-bottom" style="display:block; position: relative; border-bottom: 2px solid #eaeaea;width:25%;left:0px;visibility:visible">

    </div>

    <div class="right-division-bottom" style="display:block; position: relative; border-bottom: 2px solid #eaeaea;width:25%;float:right;visibility:visible"></div>
    <div id="center-content" class="ls-nothumb" style="display:block; position: relative;width:50%;margin-left: 25%;color:#fff;visibility:visible; line-height:27px;">
        <article> Dynamic and robust, we enjoys strategic relationships with a number of leading health, dental and life insurance companies, and is active in all major markets across the World. </article>
    </div>
</div>

